</head>
<body>
  <div class="container">
    <%- include('partials/header.ejs') %>

    <div class="container">
      <div class="px-4 py-5 my-5 text-center">
        <img
          class="d-block mx-auto mb-4"
          src="<%= libro.cover  %>"
          alt=""
          width="172"
          height="257"
        />
        <h1 class="display-5 fw-bold"><%= libro.title %></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 fw-bold">Authors: <%= autores %></p>
          <p class="lead mb-4 fw-bold">Release Date:</p>
          <!-- preguntarles -->
          <p class="lead mb-4"><%= libro.description %></p>
          <% if (locals.session&& session.user&& session.user.isAdmin ) { %>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="/books/edit/<%= libro.id %>">
              <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">
                Edit
              </button>
            </form>
            <form action="/books/<%= libro.id %>?method=Delete" method="post">
              <button
                type="submit"
                class="btn btn-outline-secondary btn-lg px-4"
              >
                Delete
              </button>
            </form>
          </div>
          <% }%>
        </div>
      </div>
    </div>
  </div>

  <%-include('partials/footer.ejs') %>
</body>
</html>
